body {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
}

:global {
  html {
    height: 100%;
  }

  body {
    font-family: ubuntu, sans;
    font-size: 12px;
    height: 100%;
  }

  .notransition * {
    transition: none !important;
  }

  * {
    user-select: none;
    cursor: default;
  }
}